/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');


.hover-effect {
  transition: transform 0.3s ease;
  /* Add a transition for the transform property */
}

.hover-effect:hover {
  transform: scale(1.03);
  /* Make the div 5% bigger on hover */
}

h1 {
  font-family: "DM Sans"
}

h2, h3 {
  font-weight: "bold"
}

body {
  font-family: 'Inter';
}


.scroll-container {
  overflow-x: auto;
  /* Enable horizontal scrolling */
  overflow-y: hidden;
  /* Hide vertical scrollbar */
  white-space: nowrap;
  /* Prevent line breaks for inline-block elements */
}

.scroll-container::-webkit-scrollbar {
  display: none;
  /* Hide the scrollbar in Webkit browsers (Chrome, Safari, etc.) */
}

.star {
  cursor: pointer;
  color: #ccc;
  /* Default color for unselected stars */
  font-size: 20px;
  /* Adjust size as needed */
  margin-right: 5px;
  /* Adjust spacing between stars */
}

.star:hover {
  color: #ffcc00;
  /* Change color on hover for unselected stars */
}

.star.selected {
  color: #ffcc00;
  /* Color for selected stars */
}

.staticstar {
  color: #ccc;
  /* Default color for unselected stars */
  font-size: 24px;
  /* Adjust size as needed */
  margin-right: 5px;
  /* Adjust spacing between stars */
}

.staticstar.selected {
  color: #ffcc00;
  /* Color for selected stars */
}

.poster-container {
  width: 125px;
  /* Adjust the width as needed */
  height: 225px;
  /* Adjust the height as needed */
  margin-right: 6px;
  /* Add some margin between each poster */
  position: relative;
  /* Ensure the truncation text stays within the container */
}